<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Admin Dashboard</title>
        
        <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />

        <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">

        <script th:src="@{/js/render.js}" defer></script>
        <script th:src="@{/js/util.js}" defer></script>

        <script th:src="@{/js/components/header.js}" defer></script>
        <script th:src="@{/js/components/footer.js}" defer></script>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div id="header"></div>

                <main class="main-content">
                    <input type="text" id="searchBar" placeholder="search by doctor name" />

                    <div class="filter-section">
                        <div class="filter-group">
                            <label for="time-filter">Sort by time:</label>
                            <select id="time-filter" name="time">
                                <option value="AM">AM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>

                        <div class="filter-group">
                            <label for="specialty-filter">Filter by specialty:</label>
                            <select id="specialty-filter" name="specialty">
                                <option value="cardiologist">cardiologist</option>
                                <option value="dermatologist">dermatologist</option>
                                <option value="pediatrician">pediatrician</option>
                            </select>
                        </div>
                    </div>
                    <div id="content"></div>
                    <div id="footer"></div>
                </main>
            <div>
        </div>
        <div id="modal" class="modal">
            <span id="closeModal" class="close">&times;</span>
            <div id="modal-body"></div>
        </div>
        
        <script type="module" src="../js/services/adminDashboard.js" defer></script>
        <script type="module" src="../js/components/doctorCard.js" defer></script>
    </body>
</html>
