* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.h2 {
    font-size: large;
    font-weight: bold;
    font-family: 'Alegreya', 'Roboto', sans-serif;
    color: #003e3e;
    margin-bottom: 50px;
}

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url('../images/defineRole/index.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button {
    justify-content: center;
    background-color: #015c5d;
    color: white;
    padding: 10px 20px;
    width: 200px;
    margin-top: 10px;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #A62B1F;
}

.dashboard-btn:hover {
    background-color: #003e3e;
}

#modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}

#footer, #header {
    display: flex;
    flex-direction: row;
}
